<section class="casemain">
    <h1 class="case-title">Case Studies</h1>
    <div class="case-studies">
        <div class="case-study">
            <h2>DigitX:</h2>
            <p>DigitX is a digital technology. Digital technology is a base two process. Digitized information is recorded in binary code of combinations of the digits 0 and 1, also called bits, which represent words and images. Digital technology enables immense amounts of information to be compressed on small storage devices that can be easily preserved and transported. Digitization also quickens data transmission speeds. Digital technology has transformed how people communicate, learn, and work.<a href="case1.html">here</a>.
            </p>
        </div>
        <div class="case-study">
            <h2>Element to Success:</h2>
            <p>An essential element of planning your week in advance is becoming a master of your calendar. Keep your schedule up-to-date, incorporating meetings, deadlines, and other commitments. This way, you'll gain a holistic view of your week, enabling you to allocate time wisely and efficiently. Utilize digital tools or traditional planners, whichever suits you best, to stay organized and in control of your business journey. <a href="case-study2.html">here</a>.</p>
        </div>
        <div class="case-study">
            <h2>Demands a journey faces:</h2>
            <p>Embarking on your journey to start a business demands a multifaceted approach, and incorporating these power moves will bolster your chances of success. Plan your weeks in advance, prioritize punctuality, and always be prepared for meetings. Cultivate a network of valuable connections, commit to lifelong learning, and embrace resilience in the face of challenges. Above all, maintain a customer-centric approach where your clients' needs and satisfaction take center stage.<a href="case-study2.html">here</a>.</p>
        </div>
    </div>
</section>
