<body>
    <!-- header starts -->
    <header style="background-color: rgb(236, 160, 236);">
        <div class='container container-flex'>
            <div class='site-title'>
                <h1>Living The Social Life</h1>
                <p class='subtitle'>A blog exploring minimalism in life.</p>
            </div>
            <nav>
                <form action="#" class="search">
                    <input class="search-in" type="text" placeholder="search here. . .">
                    <button type="button" class="search__btn"><i class="fas fa-search"></i></button>
                </form>
            </nav>
        </div>
    </header>
    <!-- header ends -->

    <!-- container starts -->
    <div class="container container-flex">
        <main role="main">

            <article class="article-featured">
                <h2 class="article-title">DigitX: The Digital Agency</h2>
                <img style="width: 60%;" src="../assets/imgblog/bg3.jpg"
                    alt="simple white desk on a white wall with a plant on the far right side" class="article-image">
                <p class="article-info">July 25, 2022 | 3 comments</p>
                <p class="article-body">It is very widely used websiye for Buisness Stratagy, Website Devlopment, Marketing and many more things. We live every day in the data center world. Since the start of our journey we have supported the IT environments from their infancy, beginning with the mainframe, and everything along the way, and now through to the evolution of converged blade systems of today. </p>
                <a href="#" class="article-read-more">CONTINUE READING</a>
            </article>

            <article class="article-recent">
                <div class="article-recent-main">
                    <h2 class="article-title">Future of Web Development.</h2>
                    <p class="article-body">The future of website development is shaping up with exciting new trends, and one of the most promising ones is Motion UI. This SAAS framework enables UI/UX developers to create impressive animations and transitions using pre-set animations, Reveal, and Orbit components.</p>
                    <a href="#" class="article-read-more">CONTINUE READING</a>
                </div>
                <div class="article-recent-secondary">
                    <img src="../assets/imgblog/web1.jpg"
                        alt="two dumplings on a wood plate with chopsticks" class="article-image">
                    <p class="article-info">July 31, 2023 | 3 comments</p>
                </div>
            </article>

            <article class="article-recent">
                <div class="article-recent-main">
                    <h2 class="article-title">Train your mind for buisness</h2>
                    <p class="article-body">rue entrepreneurs have defined the unique way they will contribute to this world. They know who they are and what they stand for. They’re not looking to just be successful or leave a legacy; it’s more than that. It’s about contribution, purpose, a mission, and fulfilling the vision of what they believe they were placed here to do. </p>
                    <a href="#" class="article-read-more">CONTINUE READING</a>
                </div>
                <div class="article-recent-secondary">
                    <img src="../assets/imgblog/db1.jpg"
                        alt="a chair white chair at a white desk on a white wall" class="article-image">
                    <p class="article-info">Auguts 12, 2023 | 3 comments</p>
                </div>
            </article>

            <article class="article-recent">
                <div class="article-recent-main">
                    <h2 class="article-title">Advancement in stocks</h2>
                    <p class="article-body">Most brokerage firms are laying the foundation of notions for a stock market that is going to be trudging along instead of racing ahead. Reports from financial analysts are also confirming this. The expected nature of the Indian stock market, or any stock market for that matter, is to be volatile with periods of highs and lows</p>
                    <a href="#" class="article-read-more">CONTINUE READING</a>
                </div>
                <div class="article-recent-secondary">
                    <img src="../assets/imgblog/market.jpg"
                        alt="a green plant in a clear, round vase with water in it" class="article-image">
                    <p class="article-info">August 20, 2023 | 3 comments</p>
                </div>
            </article>
        </main>

        <aside class="sidebar">

            <div class="sidebar-widget">
                <h2 class="widget-title">DIGITX</h2>
                <img src="../assets/imgblog/robo1.jpg"
                    alt="john doe" class="widget-image">
                <p class="widget-body">Leap towards a better future.</p>
            </div>

            <div class="sidebar-widget">
                <h2 class="widget-title"><b>RECENT POSTS</b></h2>
                <div class="widget-recent-post">
                    <h3 class="widget-recent-post-title">Future of Web Development.</h3>
                    <img src="../assets/imgblog/web1.jpg"
                        alt="two dumplings on a wood plate with chopsticks" class="widget-image">
                </div>
                <div class="widget-recent-post">
                    <h3 class="widget-recent-post-title">Train your mind for buisness</h3>
                    <img src="../assets/imgblog/db1.jpg"
                        alt="a chair white chair at a white desk on a white wall" class="widget-image">
                </div>
                <div class="widget-recent-post">
                    <h3 class="widget-recent-post-title">Advancement in stocks</h3>
                    <img src="../assets/imgblog/market.jpg"
                        alt="a green plant in a clear, round vase with water in it" class="widget-image">
                </div>
            </div>

        </aside>

    </div>
</body>