* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  
  body {
    font-family: 'Oswald', sans-serif;
    background-color: #34495e;
  }
  
  .container {
    width: 80%;
    margin: auto;
    max-width: 796px;
  }
  .servicesmain{
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
    
    
  .section-title {
    color: #4c0620;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 50px 0 0 0;
    
    &::after {
      content: "";
      display: block;
      height: 2px;
      background-color: black;
      margin-bottom: 40px;
    }
  }
    
    
  .services-inner {
    display: grid;
    grid-template-rows: 1fr ;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-row-gap: 50px;
    grid-column-gap: 20px;
  }
    
    
  .services-box {
    color: #9e9e9e;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid  #be7ebe;
    padding: 15px;
  }
    
    
  .icon {
    display: block;
    background-color:  #be7ebe;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 12px;
    margin: 0 auto 10px auto;
  }
    
    
  .icon i {
    color: #333;
    font-size: 1.2rem;
  }
    
    
  .services-title {
    font-weight: normal;
    font-size: 1.2rem;
  }

  .text{
    padding-top: 15px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
  }