<div class="testimonials">
    <div class="testimonial-inner">
      <h2><b>Client Stories</b></h2>
      <p>Reviews by our very own clients</p>
      <div class="row">
        <div class="col">
          <div class="testimonial">
            <img src="../assets/jose.jpg" alt="">
            <div class="name">Jose Mourinho</div>
            <div class="stars">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>DigitX believes in client success and they have an array of tools and expertise to make that happen, from digital marketing to SEO, to website design. Best of all, they have a dedicated and responsive team that is open to ideas! Truly grateful for all the efforts they've put into making our company a success today!</p>
          </div>
        </div>
        
        <div class="col">
          <div class="testimonial">
            <img src="../assets/rooney.jpg" alt="">
            <div class="name">Wayne Rooney</div>
            <div class="stars">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
            <p>Awesome experience working with the team at DigitX! They are always very responsive and continuously gives us suggestions to improve our online presence in the F&B industry. A great help as they managed our SEO and SEM really well and we do not have to worry. Definitely will recommend them!</p>
          </div>
        </div>
        
        <div class="col">
          <div class="testimonial">
            <img src="../assets/stevi.jpg" alt="">
            <div class="name">Steven Gerrard</div>
            <div class="stars">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-half-o"></i>
            </div>
            <p>Very professional and dedicated team. Lifting lots of burden off our shoulders. Would strongly recommend to other SMEs in Singapore.DigitX really boosted our SEM campaign and maximised reach to our target audience.This resulted in a dramatic 3 fold increase in our online sales channel.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
