<section class="blog">
    <div class="blog-title">
        <h1 style="text-align: center;">Blogs</h1>
    </div>
    <article class="blog-post">
        <h2 class="post-title">First Blog Post</h2>
        <p class="post-date">July 25, 2023</p>
        <p class="post-content">This is the first blog posted officially on the website.</p>
    </article>
    <article class="blog-post">
        <h2 class="post-title">Second Blog Post</h2>
        <p class="post-date">July 31, 2023</p>
        <p class="post-content">Sucessfully running the Digital show around with DigitX.</p>
    </article>
    <article class="blog-post">
        <h2 class="post-title">Third Blog Post</h2>
        <p class="post-date">August 3, 2023</p>
        <p class="post-content">Let dive into the creative digital world with DigitX.</p>
    </article>
</section>

