<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo">DigitX</label>
    <ul>
        <li><a class="active">Home</a></li>
        <li  routerLink="/about" ><a href="/about">About Us</a></li>
        <li routerLink="/blog"><a href="/blog">Blog</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Case Studies</a></li>
        <li ><a href="#">Contact</a></li>
    </ul>
</nav>