<body>
    <section class="homepage" id="home">
        <div class="content">
            <div class="text">
                <h1>DigitX: The Digital Revolutionary</h1>
                <p style="color: black">
                    Dive deep into the Digital World with us. <br> Gear up for a adventures journey.</p>
            </div>
            <a >Services</a>
        </div>
    </section>
    <section class="about" id="about">
        <h2><b>About Us</b></h2>
        <p>Discover our story in providing digital guidance.</p>
        <div class="row company-info">
            <h3>Our Story</h3>
            <p>Experience the excellence of our guidance and services, where we have been offering high-quality required
                essentials and equipments for development enthusiasts for over a decade. Our commitment to quality and
                people satisfaction ensures that every digitally occupied can rely on us for their required needs.
                You can reach a larger audience in a shorter time period. Technological advances have resulted in
                considerable attrition of the customer-base of traditional marketing agencies and departments. People
                have moved on to tablets, phones, and computers, which are the areas where digital marketers have gained
                the most ground.</p>
        </div>
        <div class="row mission-vision">
            <h3>Our Values</h3>
            <p>It involves a deep focus on the larger business context and an understanding of how customers want to use
                the product. That said, a company that matures its design thinking skills is able to: Empathize with its
                customers across every step of their digital journey.</p>
            <h3>Our Vision</h3>
            <p>Digital technologies are having a
                pervasive infl uence on business,
                transforming the customer experience,
                enhancing productivity in operations
                and improving the way employees
                collaborate. Yet, many organizations
                fail to capture the full potential of digital
                technologies because their leaders lack
                a transformative vision. </p>
        </div>
    </section>
    <section class="services" id="services">
        <h2><b>Our Services</b></h2>
        <p>Explore our wide range of multiple services.</p>
        <ul class="cards">
            <li class="card" style="align-items: center;">
                <img src="../assets/webportal.png" alt="img">
                <h3>Web Portals</h3>
                <p>DigitX works with web portals for different audiences: customers, business partners, ecommerce users,
                    patients, vendors, interest-based communities. Web portals we create automatically aggregate data
                    from corporate systems and become a source of up-to-date information and help for users.</p>
            </li>
            <li class="card" style="align-items: center;">
                <img src="../assets/buis.jpeg" alt="img">
                <h3>Business</h3>
                <p>The main objectives of DigitX to save time and money. Doing manual processes and tasks is extremely
                    time-consuming and relatively slower than automated techniques. In addition, you also need to pay
                    the laborers on a monthly or hourly basis, which would involve a lot of money. </p>
            </li>
            <li class="card" style="align-items: center;">
                <img src="../assets/e-comm2.jpg" alt="img">
                <h3>E-Commerce</h3>
                <p>10 years in ecommerce development, we’ve grown the expertise from entry-level shops for startups to
                    custom ecommerce solutions built for large-scale and high-growth businesses. We multiply business
                    efficiency by using scalable microservices architectures and enabling high automation of all
                    business processes.</p>
            </li>
            <li class="card" style="align-items: center;">
                <img src="../assets/uxui.png" alt="img">
                <h3>Ux-Ui Design</h3>
                <p>We help and guide people for designing a web app with the analysis of target audience and planning
                    convenient, quick and frictionless user journeys. Along the way, our UI designers join in to wrap
                    the interface into a stylish cover.</p>
            </li>
            <li class="card" style="align-items: center;">
                <img src="../assets/tets.jpg" alt="img">
                <h3>Testing</h3>
                <p>We guarantee that your web solution will function flawlessly, work fast, be user-friendly and secure.
                    We have a team of skilled testing engineers to make promises like that.</p>
            </li>
            <li class="card" style="align-items: center;">
                <img src="../assets/help.png" alt="img">
                <h3>Help Desk</h3>
                <p>Providing L1, L2 and L3 support services, we deliver hot-fixes within 24 hours to prevent or resolve
                    any issues in usage, technology and code that may arise. We help you provide high availability and
                    trouble-free functionality of your web app.</p>
            </li>
        </ul>
    </section>
    <section class="team" id="team">
        <h2><b>Meet Our Team</b></h2>
        <p>Take a look at some of our exceptional team members.</p>
        <ul class="cards">
            <li class="card" style="align-items: center;">
                <img src="../assets/tm1.jpg" alt="img">
                <h3>David Stew</h3>
                <h6><b>Business Analytics</b></h6>
                <p>He is an expert in business and marketing field.</p>
            </li>
            <li class="card" style="align-items: center;">
                <img src="../assets/tm6.jpg" alt="img">
                <h3>Lisa Carpova</h3>
                <h6><b>Frontend</b></h6>
                <p>She is an extremely hardworking and excellent frontend engineer.</p>
            </li>
            <li class="card" style="align-items: center;">
                <img src="../assets/tm2.jpg" alt="img">
                <h3>Brian Cooper</h3>
                <h6><b>Backend</b></h6>
                <p>He is a perfectionist in what he does, have been with team since the start.</p>
            </li>
            <li class="card" style="align-items: center;">
                <img src="../assets/tm7.jpg" alt="img">
                <h3>Tiffiny Aniston</h3>
                <h6><b>Marketing</b></h6>
                <p>She is expert in the field of marketing, she has all the skills a network marketing person need.</p>
            </li>
            <li class="card" style="align-items: center;">
                <img src="../assets/tm4.jpg" alt="img">
                <h3>Vivek Singh</h3>
                <h6><b>Tech support</b></h6>
                <p>He helps the people solving their doubts and solving there question. He is always there whenever
                    needed.</p>
            </li>
            <li class="card" style="align-items: center;">
                <img src="../assets/tm5.jpg" alt="img">
                <h3>Dexter Tate</h3>
                <h6><b>HR</b></h6>
                <p>He is the HR of our company. He deals with the people who wants to grow in the digital world with
                    DigitX.</p>
            </li>
        </ul>
    </section>
</body>

