<div class="about-section" style="padding-bottom: 10px;">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About Us</span>
                        <h2>We live the world Digitally</h2>
                    </div>
                    <div class="text">It is very widely used websiye for Buisness Stratagy, Website Devlopment, Marketing and many more things.
                        We live every day in the data center world.  Since the start of our journey we have supported the IT environments from their infancy, beginning with the mainframe, and everything along the way, and now through to the evolution of converged blade systems of today. The data center is our home, you name it, and we have done it, multi-vendor hardware maintenance, basic infrastructure such as fiber, copper, rack enclosures, hot/cold aisle containment, IT convergence, networking solutions and private cloud storage solutions.  We live where the IT heartbeat of customers are, ensuring rapid support for your critical needs.
                    </div>
                    <div class="btn-box">
                        <a href="#" class="theme-btn btn-style-one">Join Here</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column fadeInLeft">
                    <div class="author-desc">
                        <h2>DigitX</h2>
                    </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" ><img
                                title="digitx" src="../assets/img/about.jpg" alt=""></a>
                    </figure>

                </div>
            </div>

        </div>
    </div>
