<div class="about-section" style="padding-bottom: 10px; background-color: #f2f2f2;">
    <div class="container">
        <div class="row">
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title"><b>Community Involvement </b></span>
                        <h2 style="color: #848484;">Someone will be there for you</h2>
                    </div>
                    <div class="text">Community involvement is the power to bring positive, measurable change to both the
                        communities in which you operate and to your business. Community involvement examples
                        include in-kind and financial donations, employee volunteer days, enduring nonprofit
                        partnerships, and more. The business case for corporate community involvement has never been
                        stronger.

                        In fact, the benefits of corporate community involvement are two-fold, providing positive
                        returns to local charitable organizations and neighborhoods and boosting company performance
                        indicators, such as reputation and employee engagement. As your company builds partnerships
                        and working relationships with local community nonprofits and service-based organizations,
                        neighborhoods are strengthened.
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <figure class="image-1"><a href="#" class="image" ><img
                                title="digitx" src="../assets/comm3.jpg" alt=""></a>
                    </figure>

                </div>
            </div>

        </div>
    </div>
